.header{

	background-color: lightblue;
	position: fixed;
	top:0px; 
	right: 0px;
	left: 0px;
	border-width: 0.25em;
	border-color: grey;
	border-style: solid;
	height: 2.5em;
	z-index: 99999;
}	

.headerfix{
	height: 2em;
}

.content .submitter{
	color: grey;
}


.index .username {
	font-weight: bolder;	
	color: green;
}

.following-list{
	padding: 0.5em;
	background-color: beige;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	margin-top: 1em;
}

.index a {
	color:black;
}
.index {
	font-size:1.5em;
	background-image: url('images/nature.jpg');
	background-color: #7CBACF;
	color: black;	
	margin: 1em;
	padding: 0.5em;
}
.index .row{
	margin: 1em;
}

.user-card{
	background-color: lightblue;
	padding:0.5em;
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
}
.user-card img{
	float:right;
}

.user-data{
	float:left;
}

.clearfix {
  overflow: auto;
  clear: both;
}

.error{
	color: red;
}

.login{
	background-color: beige;
	bottom: 50%;
	right: 50%;
	border-style: double;
	border-width: 0.5em;
	padding: 1%;
	border-color: grey;	
	position: absolute;
}

.login .error{
	font-weight: bold;	
}

.register{
	padding: 1em;
	background-color: beige;
	border-style: solid;
	border-color: grey;
	border-width: 1px;
}

.delete-tweet-button{
	height:1em;
	width:1em;
	background-color: black;
	font-weight: bold;
}

.feed{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: lightblue;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
}

.feed .tweets{
	margin:1em;
	padding: 0.5em;
	background-color: beige;
	opacity:50%;
}

.new-tweet{
	border-color: grey;	
	border-style: solid;
	border-width: 1px;
	background-color: beige;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 2em;
	padding-left: 2em;
	margin: 2em;
}

.new-tweet input{
	padding:0.25em;
	background-color: #E0F7FF;
}

.home-button{
	height: 100%;
	width: 100%;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	background-color: white;
	color: black ;
	float:left;
}