<div class='user-profile'>

	<div class="user-card col-md-3">
		<h3 class="user-data">
			<a href='#/profile' class='username'>{{user.name}}</a> 
			<br/>
			<small>{{user.email}}</small>
		</h3>
		<img src="app/assets/images/avatars/avatar1.png" alt="User avatar" class="img-circle">	
	</div>

	<div class="clearfix"></div>
	
	<div class="following-list">
		<p>
			Follow someone: <input placeholder="type in another user's email" ng-model='emailToFollow'>
			<button ng-click="follow()" ng-disabled="!emailToFollow || emailToFollow.length < 5">
				Follow!
			</button>
			{{error}}
		</p>

		<div ng-if="following">
			<div ng-repeat='followed in following | orderBy:followed.name'>
				<p class="content">
					<button ng-click="unfollow(user,followed.followedEmail)" class='unfollow-button'>X</button> 
					{{followed.followedEmail}} 
					
				</p> 

			</div>
		</div>
	</div>



</div>