<div class="main">

	<h3 class='username'>
		<a href='#/profile'>@{{user.name}}</a> 
	</h3>
	<h4>
		{{user.email}}
	</h4>
	<div>
		Tweet something: <input placeholder="max. 140 characters" ng-model='newTweet'>
		<button ng-click="sendTweet()" ng-disabled="!newTweet || newTweet.length > 140">
			Send!
		</button>
	</div>


	<ol ng-if="tweets">
		<div ng-repeat='tweet in tweets | orderBy:tweets.date:true'>
			<p class="content">
				{{tweet.content}} (by: <span class="tweet-submitter"> {{tweet.submitter}}</span>)
				<button ng-click="deleteTweet(tweet)" class='delete-tweet-button' ng-if='user.email==tweet.submitter'>X</button>

			</p> 

		</div>
	</ol>

</div>

<!--      lalo@hotmail.com     -->
